# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env
.env.prod

# Ignore version control files
.git/
.gitignore

# Ignore Docker-related files
.dockerignore
Dockerfile
docker-compose.yaml

# Ignore IDE/editor files
.vscode/
*.swp

# Ignore backup and log filesd
.backups/
.logs/
backup.ps1
restore.ps1

# Ignore build scripts
build.sh
manage.sh
push.sh
run.sh

# Ignore configuration files
.pre-commit-config.yaml
.prettierignore
.python-version
ruff.toml

# Ignore dependency files
requirements.dev.txt
requirements.prod.txt
uv.lock

# Ignore documentation files
README.md

# Ignore seeds directory
.seeds/
