Django==5.0.2
django-after-response==0.2.2
django-cors-headers==4.3.1
django-unfold==0.34.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
gunicorn==22.0.0
logtail-python==0.3.0
psycopg2==2.9.9
python-dotenv==1.0.1
requests==2.32.3
whitenoise==6.7.0
