<!DOCTYPE html>
{% load strip_html_tags %}

<html>
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ APPLICATION_NAME }} Notification{% endblock %}</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; margin: 0; padding: 0; background-color: #f4f4f4;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td align="center" style="background-color: #f4f4f4; padding: 20px;">
                <table width="600" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff; margin: 0 auto;">
                    <!-- Header -->
                    <tr>
                        <td style="background-color: #263f5873; padding: 20px; text-align: center;">
                            <img src="{{APPLICATION_LOGO_URL}}" alt="Dokoola Logo" style="max-height: 50px;">
                        </td>
                    </tr>
                    
                    <!-- Content -->
                    <span id="__content">
                        {% block content %}{% endblock %}
                    </span>
                    
                    <!-- Footer -->
                    <tr id="footer">
                        <td style="background-color: #f8f9fa; padding: 20px; text-align: center; font-size: 12px; color: #666;">
                            <p style="margin: 10px 0;">This is an automated message, please do not reply to this email.</p>
                            <p style="margin: 10px 0;">© {% now "Y" %} {{ APPLICATION_NAME }}. All rights reserved.</p>
                            <p style="margin: 10px 0;">
                                If you have any questions, please contact our 
                                <a href="mailto://{{ APPLICATION_SUPPORT_EMAIL }}" style="color: #3498db; text-decoration: none;">support team</a>
                            </p>
                            <p style="margin: 10px 0;">
                                <a href="{{ APPLICATION_PRIVACY_POLICY_URL }}" style="color: #3498db; text-decoration: none;">Privacy Policy</a> | 
                                <a href="{{ APPLICATION_TERMS_OF_SERVICE_URL }}" style="color: #3498db; text-decoration: none;">Terms of Service</a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html> 