<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verification</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
    "
  >
    <div
      style="
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;

        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      "
    >
      <div style="text-align: center; margin-bottom: 20px">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/intrasoftware-36be6.appspot.com/o/dokoola%2Ffavicon.ico?alt=media&token=cc2677ec-9aa9-4b1d-86cc-586a7688d618"
          alt="Logo"
          width="50px"
          height="50px"
          style="
            max-width: 100px;
            height: auto;
            border-radius: 100%;
            border: 1px solid #ccc;
          "
        />
      </div>

      {{content}}

      <p style="text-align: center; font-size: 12px; margin-top: 2rem">
        The Dokoola Team
      </p>
    </div>
  </body>
</html>
