* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}

nav .brand {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  text-transform: none;
  color: black;
  font-weight: 600;
  padding: 5px 10px;
  transition: all 200ms ease-in-out;
}

.brand:hover {
  color: white;
  border-radius: 0.5rem;
  background-color: rgb(221, 134, 19);
}

nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
