server {
    listen 80 default_server;

    location /api {
        proxy_pass http://dokoola-backend-service:8000;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}
