<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verification</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
    "
  >
    <div
      style="
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;

        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      "
    >
      <div style="text-align: center; margin-bottom: 20px; min-height: 100px">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/intrasoftware-36be6.appspot.com/o/dokoola%2Ffavicon.ico?alt=media&token=cc2677ec-9aa9-4b1d-86cc-586a7688d618"
          alt="Logo"
          style="
            max-width: 100px;
            height: auto;
            border-radius: 100%;
            border: 1px solid #ccc;
          "
        />
      </div>
      <h2 style="text-align: center">Email Verification</h2>
      <p style="text-align: center">
        Your <strong>Dokoola</strong> verification code is:
        <strong>{{code}}</strong>
      </p>
      <p style="text-align: center">
        Please use the following code to verify your email address:
      </p>
      <p
        style="
          text-align: center;
          font-size: 26px;
          margin-bottom: 30px;
          letter-spacing: 1px;
        "
      >
        <strong>{{code}}</strong>
      </p>
      <p
        style="
          text-align: center;
          font-size: 14px;
          max-width: 46ch;
          margin: auto;
        "
      >
        If you did not request this verification, please ignore this email.
        Thank you,
      </p>
      <p style="text-align: center; font-size: 12px">The Dokoola Team</p>
    </div>
  </body>
</html>
