{% extends "emails/base.html" %}

{% block title %}
    Job Suspended
{% endblock %}

{% block content %}
<tr>

    <td style="padding: 20px;">
        <h2 style="color: #333333; margin-bottom: 20px;">Job Suspended</h2>
        <p style="margin: 10px 0; color: #333333;">Hello {{ job.client.user.first_name }},</p>
        
        <p style="margin: 10px 0; color: #333333;">Your job "<strong>{{ job.title }}</strong>" has been suspended.</p>

        <p style="margin: 15px 0 10px; color: #333333;">Job Details:</p>
        <ul style="margin: 0 0 20px; padding-left: 20px; color: #333333;">
            <li style="margin-bottom: 5px;">Job Title: {{ job.title }}</li>
            <li style="margin-bottom: 5px;">Job ID: {{ job.public_id }}</li>
            <li style="margin-bottom: 5px;">Suspension Date: {{ job.updated_at|date:"F j, Y" }}</li>
        </ul>

        <p style="margin: 15px 0; color: #333333;">If you have any questions about why your job was suspended, please contact our support team for assistance.</p>
        
        <p style="margin: 20px 0 10px; color: #333333;">Best regards,<br>
        The {{APPLICATION_NAME}} Team</p>
    </td>
</tr>
{% endblock %} 